<div class="container">
  <div *ngIf="video">
    <br>
    <div class="row">
      <div class="col-sm-8">
        <app-video-preview [video]="video"></app-video-preview>
      </div>
      <div class="col-sm-4">
        Additional info coming soon...
        <div>
          <button class="btn btn-primary" (click)="share()">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            Share
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="error">{{ 'error occured' | localize }}</div>
</div>
